<div id="container">
  <div class="controls">
    <div class="bottom-controls">

      <button class="casette-button" type="button" (click)="startMicrophone()">
        <mat-icon>play_arrow</mat-icon>
      </button>

      <button class="casette-button" type="button" (click)="stopMicrophone()">
        <mat-icon>pause</mat-icon>
      </button>
      <div class="volumen-bar-container">
        <div class="volumen-bar" [style.width.%]="volumenActual * 100">
        </div>
      </div>
    </div>
  </div>

  <canvas #canvas></canvas>
</div>
